[Unit]
Description=Remind for Schwab reauthorization every Sunday evening

[Timer]
OnCalendar=Sun *-*-* 20:00:00 Asia/Shanghai
Persistent=true
AccuracySec=1s

[Install]
WantedBy=timers.target
